body {
    margin-left: 20px;
    overflow: hidden;
}

.crystalCollector {
    background: orange;
    font-size: 50px;
    color: white;
    width: 25%;
    padding: 30px;
}

.main {
    background-color: antiquewhite;
    width: 35%;
    height: 200px;
}

p {
    padding: 5px;
    color: green;
    font-weight: bold;
}

.randomNumber {
    text-align: center;
    margin-top: 10px;
    color:white;
    font-size: 30px;
    background-color: green;
    width: 20%;
    height: 100px;
}

.winlosses {
    width: 10%;
    background-color: aqua;
    color: white;
    height: 95px;
    margin-left: 320px;
    margin-top: -95px;
}

img {
    margin-top: 10px;
    height: 120px;
    width: 120px;
}

.score {
    font-size: 30px;
    color: white;
    margin-top: 20px;
    width: 20%;
    background-color: green;
    height: 120px;
    padding: 10px;
    padding-top: 10px;
    text-align: center;
}

#btn {  
    position: relative;
    bottom: 600px;
    margin-left: 700px;
    width: 100px;
    height: 80px;
}

.coins {  
    position: relative;
    bottom: 550px;
    margin-left: 700px;
    width: 100px;
    height: 80px;
}

.coins2 {  
    font-size: 20px;
    position: relative;
    bottom: 480px;
    margin-left: 700px;
    width: 100px;
    height: 80px;
}

.randomResults {  
    position: relative;
    font-size: 20px;
    bottom: 500px;
    margin-left: 700px;
    width: 100px;
    height: 80px;
}